.main-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
}

.task_main_wrap {
    display: flex;
 
}
.task_card {
    margin-left: 90px;
    border-bottom: 2px solid black;
}
.task_cards_flow {
    width: 100%;
}
.input_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 40em;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 2em;
}
.butt_buttons {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}
button {
    background-color: #0074d9;
    color: white;
    border: none;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 200;
}
.fa-angle-double-right {
    margin-top: 70px;;
    font-size: 15em;
    margin-left: 10px;
    margin-right: 110px;
    color: rgb(42, 170, 224);
}
