nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    background-color: #f7786b;
}
ul {
    display: flex;
    list-style: none;
    margin: 15px;
}
li {
    display: flex;
    justify-content: space-around;
    margin: 2px;
    font-size: 5em;
}
.shopping {
    margin: 1em;
}