nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    background-color: #f7786b;
}
.nav-list {
    display: flex;
    list-style: none;
    margin: 15px;
}
.nav-item {
    display: flex;
    justify-content: space-around;
    margin: 2px;
    font-size: 3em;
}
.shopping {
    margin: 1em;
}