@import url('https://fonts.googleapis.com/css?family=Montserrat');

nav {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    height: 10vh;
    background-color: #2E3E4C;
    padding: 15px;
    color: white;
}
.nav_header-wrapper {
    display: flex;
    align-items: center;
}
.nav_header {
    margin: 0;
}
.logo {
   height: 4em;
   margin-left: 2em;
   margin-right: 2em;
   width: auto;
}
.nav a, .nav a:visited {
    color: white;
    text-decoration: none;
}
